<div class="h-2000 background">
    <div class="container-perfil">
        <div class="parrafo-perfil">
            <p>Soy un desarrollador y diseñador Full Stack con base en Argentina.<br>
                Como autónomo trabajo también con agencias, pequeñas empresas,
                e individuos para crear un plan para el negocio digital. <br>
                ¿En que me especializo? <br>
                Tengo 5 años de experiencia en HTML, CSS y WordPress creando sitios web, tiendas web y blogs personalizados.<br> Como desarrollador BackEnd me especializo en JavasScript, Node.js, Express, bases de datos SQL y MongoDB, con mas de 1 año de experiencia y mas de 15 proyectos realizados.
            </p>
        </div>
        <span class="p-img-perfil">Hello!</span>
        <svg class="blob-2" id="visual" viewBox="0 0 900 600" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
            <g transform="translate(440.05099428417395 315.2333555459205)">
                <path id="blob1"
                    d="M127.3 -171.3C167.5 -145.9 204.5 -112.2 217.5 -71C230.5 -29.8 219.4 19 207.7 71.4C196.1 123.9 183.8 180 149.1 196.1C114.4 212.2 57.2 188.1 2.5 184.6C-52.1 181.1 -104.2 198.1 -142.6 183.3C-181 168.4 -205.6 121.6 -203.3 78C-201 34.4 -171.8 -6 -162.9 -58.9C-153.9 -111.8 -165.1 -177.3 -141.3 -208C-117.6 -238.8 -58.8 -234.9 -7.6 -224.4C43.5 -213.9 87 -196.7 127.3 -171.3"
                    fill="#FEC23C"></path>
            </g>
            <g transform="translate(478.3089553466612 286.80185995786724)" style="visibility:hidden">
                <path id="blob2"
                    d="M130.8 -202.8C160.5 -158.5 169.4 -108.2 190.3 -58.4C211.1 -8.7 243.9 40.6 244 91.3C244.1 141.9 211.4 193.9 165.3 235.3C119.1 276.6 59.6 307.3 -7 316.9C-73.5 326.5 -146.9 314.9 -181.2 269.7C-215.4 224.5 -210.4 145.6 -232.7 75.9C-254.9 6.2 -304.3 -54.4 -300.4 -107.2C-296.4 -160 -239 -205 -180 -239.8C-121.1 -274.7 -60.5 -299.3 -5 -292.5C50.5 -285.6 101.1 -247.2 130.8 -202.8"
                    fill="#FC9300"></path>
            </g>
        </svg>
        <div class="b-img"></div>
    </div>
    <div>
                <div class="row center-row border-black">
                    <h2 class="mt-5 h-gold">Full Stack Developer</h2>
                </div>
                <section class="contenido ">
                    <div class="caja1">
                        <div class="tarjeta1">
                            <div class="logo">
                                <img class="img1" src="img/html (1).png" alt="">
                                <div class="circulo"></div>
                            </div>
                            <h2 class="titulo1">HTML</h2>
                            <p class="p1">Maquetador Profesional</p>
                            <p class="p-exp">5 años de Experiencia</p>
                        </div>
                    </div>

                    <div class="caja2">
                        <div class="tarjeta2">
                            <div class="logo">
                                <img class="img2" src="img/css (1).png" alt="">
                                <div class="circulo"></div>
                            </div>
                            <h2 class="titulo2">CSS</h2>
                            <p class="p2">Diseñador web Profesional</p>
                            <p class="p-exp">4 años de Diseño CSS</p>
                            <p class="p-exp">Bootstrap</p>
                            <p class="p-exp">Resposive Design</p>
                        </div>
                    </div>

                    <div class="caja3">
                        <div class="tarjeta3">
                            <div class="logo">
                                <img class="img3" src="img/javascript.png" alt="">
                                <div class="circulo"></div>
                            </div>
                                <h2 class="titulo3">JAVASCRIPT</h2>
                                <p class="p3">Desarrollador Javascript avanzado</p>
                                <p class="p-exp">REST APIs con JSON y Fetch APIs</p>
                                <p class="p-exp">ECMAScript 6 y ECMAScript 5</p>
                                <p class="p-exp">Programación orientada a objetos</p>
                        </div>
                    </div>

                </section>
                    <div class="row center-row">
                        <div class=" col-md-auto">
                            <img class="logo-h" src="img/logo-wordpress-logo-png.png"> 
                        </div>
                        <div class=" col-md-auto">
                            <img class="logo-h" src="img/nodejs.png">
                        </div>
                        <div class=" col-md-auto">
                            <img class="logo-h" src="img/MONGO-DB-logo-300x470-x.png">
                        </div>
                    </div>
    </div>
</div>

        