<div class="container-form background">
    <h3><span class="text-animation3">Será tu mejor decisión</span></h3>
    <h3><span class="text-animation4">Será tu mejor decisión</span></h3>
    <svg class="bubble-contact" id="visual" viewBox="0 0 900 600" width="900" height="600" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
        <g transform="translate(448.16188345966896 329.3459097654804)">
            <path
                d="M235 -414.4C295.1 -372.4 327.7 -290.2 317.9 -214.4C308.2 -138.7 256.1 -69.3 254.4 -1C252.6 67.3 301.2 134.7 305.2 200.3C309.1 266 268.3 330 210 361.5C151.7 393 75.8 392 6.9 380C-62 368.1 -124 345.1 -152.4 296.3C-180.8 247.6 -175.7 173 -208.5 119.3C-241.3 65.6 -312.2 32.8 -315.8 -2.1C-319.4 -37 -255.8 -74 -209.8 -104.9C-163.8 -135.8 -135.4 -160.6 -103.4 -218.7C-71.3 -276.9 -35.7 -368.4 25.9 -413.3C87.5 -458.2 175 -456.4 235 -414.4"
                fill="#FEC23C"></path>
        </g>
    </svg>
    <div class="form-wrapper">
        <form class="form" action="/send-email" method="POST">
            <h2>¿Te gustaría trabajar conmigo?</h2>
            <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Nombre">
            </div>
            <div class="form-group">
                <input type="email" name="email" class="form-control" id="email" placeholder="Email">
            </div>
            <div class="form-group">
                <textarea class="form-control" name="message" id="message" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-lg btn-form">Enviar</button>
        </form>

        <div class="social-icons-contact">
            <h3>Seguime en mis Redes Sociales</h3>
            <ul class="contact">
                <li><a class="t-black nav-link-contact" href="https://www.instagram.com/servicewebpro/?hl=es"
                        rel="noreferrer" target="_blank"><i class="fab fa-instagram icon-contact"></i>Service Web
                        Pro</a></li>
                <li><a class="t-black nav-link-contact" href="https://github.com/nahuellamas" rel="noreferrer"
                        target="_blank"><i class="fab fa-github icon-contact"></i>GitHub</a></li>
                <li><a class="t-black nav-link-contact"
                        href="https://www.linkedin.com/in/nahuel-sebast%C3%ADan-llamas-23978b128/en" rel="noreferrer"
                        target="_blank"><i class="fab fa-linkedin icon-contact"></i>Linkedin</a></li>
            </ul>
            <div class="tel">
                <h3>Contacto Directo</h3>
                <i class="fab fa-whatsapp icon-contact"></i>
                <a  href="https://wa.link/9k040u" target="_blank">+54 9 11 3010-3414</a>
            </div>
        </div>
    </div>
</div>