<div class="background h-900">
    
    <div class="d-md-flex justify-content-end align-items-center movil">
        <div class="text">
            <h1><span class="hidetext">Llamas</span></h1>
            <h2>Nahuel</h2>
            <h3><span class="hidetext">Full Stack<br>Developer</span></h3>
            <p>
                <span class="hidetext">
                    4 años de experiencia en desarrollo de aplicaciones web, diseños web y móviles.
                </span>
            </p>
            <button class="button__portfolio">
                <a href="{{site.url}}/portfolio"><span class="hidetext">Ver Portafolio</span></a>
            </button>
        </div>
        <h3><span class="text-animation1 text-home1">thinker!</span></h3>
        <h3><span class="text-animation2 text-home2">thinker!</span></h3>
        <svg class="blob" id="visual" viewBox="0 0 900 600" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
            <g transform="translate(440.05099428417395 315.2333555459205)">
                <path id="blob1"
                    d="M127.3 -171.3C167.5 -145.9 204.5 -112.2 217.5 -71C230.5 -29.8 219.4 19 207.7 71.4C196.1 123.9 183.8 180 149.1 196.1C114.4 212.2 57.2 188.1 2.5 184.6C-52.1 181.1 -104.2 198.1 -142.6 183.3C-181 168.4 -205.6 121.6 -203.3 78C-201 34.4 -171.8 -6 -162.9 -58.9C-153.9 -111.8 -165.1 -177.3 -141.3 -208C-117.6 -238.8 -58.8 -234.9 -7.6 -224.4C43.5 -213.9 87 -196.7 127.3 -171.3"
                    fill="#FEC23C"></path>
            </g>
            <g transform="translate(478.3089553466612 286.80185995786724)" style="visibility:hidden">
                <path id="blob2"
                    d="M130.8 -202.8C160.5 -158.5 169.4 -108.2 190.3 -58.4C211.1 -8.7 243.9 40.6 244 91.3C244.1 141.9 211.4 193.9 165.3 235.3C119.1 276.6 59.6 307.3 -7 316.9C-73.5 326.5 -146.9 314.9 -181.2 269.7C-215.4 224.5 -210.4 145.6 -232.7 75.9C-254.9 6.2 -304.3 -54.4 -300.4 -107.2C-296.4 -160 -239 -205 -180 -239.8C-121.1 -274.7 -60.5 -299.3 -5 -292.5C50.5 -285.6 101.1 -247.2 130.8 -202.8"
                    fill="#FC9300"></path>
            </g>
        </svg>
        <ul class=" social-icons">
            <li><a class="t-black nav-link-inline" href="https://www.instagram.com/servicewebpro/?hl=es"
                    rel="noreferrer" target="_blank"><i class="fab fa-instagram icon-menu"></i></a></li>
            <li><a class="t-black nav-link-inline" href="https://github.com/nahuellamas" rel="noreferrer"
                    target="_blank"><i class="fab fa-github icon-menu"></i></a></li>
            <li><a class="t-black nav-link-inline"
                    href="https://www.linkedin.com/in/nahuel-sebast%C3%ADan-llamas-23978b128/en" rel="noreferrer"
                    target="_blank"><i class="fab fa-linkedin icon-menu"></i></a></li>
        </ul>
    </div>
</div>