<div class="container-body">
    <div class="wrapper">
        <div class="bg-text">
            <h1>PROJECTS</h1>
        </div>
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="slide-number">
                        <p><span>001</span></p>
                    </div>
                    <div class="slide-text">
                        <h4><a href="https://sannerequipamiento.com/" target="_blank" rel="noopener noreferrer"><span>Sanner Equipamientos</span></a></h4>
                    </div>
                    <a href="https://sannerequipamiento.com/" target="_blank" rel="noopener noreferrer"><div class="slide-img"></div></a>
                </div>

                <div class="swiper-slide">
                    <div class="slide-number">
                        <p><span>002</span></p>
                    </div>
                    <div class="slide-text">
                        <h4><a href="https://crudseguidores.herokuapp.com/" target="_blank" rel="noopener noreferrer"><span>Crud con NODE.JS</span></a></h4>
                    </div>
                    <a href="https://crudseguidores.herokuapp.com/" target="_blank" rel="noopener noreferrer"><div class="slide-img"></div></a>
                </div>

                <div class="swiper-slide">
                    <div class="slide-number">
                        <p><span>003</span></p>
                    </div>
                    <div class="slide-text">
                        <h4><a href="https://grillsiron.com/" target="_blank" rel="noopener noreferrer"><span>Iron Grills</span></a></h4>
                    </div>
                    <a href="https://grillsiron.com/" target="_blank" rel="noopener noreferrer"><div class="slide-img"></div></a>
                </div>

                <div class="swiper-slide">
                    <div class="slide-number">
                        <p><span>004</span></p>
                    </div>
                    <div class="slide-text">
                        <h4><a href="https://cotizadorcriptos.netlify.app/" target="_blank" rel="noopener noreferrer"><span>Cotización de Criptos</span></a></h4>
                    </div>
                    <a href="https://cotizadorcriptos.netlify.app/" target="_blank" rel="noopener noreferrer"><div class="slide-img"></div></a>
                </div>

                <div class="swiper-slide">
                    <div class="slide-number">
                        <p><span>005</span></p>
                    </div>
                    <div class="slide-text">
                        <h4><a href="" rel="noopener noreferrer"><span>Ecommerce Design ADOBE XD</span></a></h4>
                    </div>
                    <div class="slide-img"></div>
                </div>

                <div class="swiper-slide">
                    <div class="slide-number">
                        <p><span>006</span></p>
                    </div>
                    <div class="slide-text">
                        <h4><a href="" rel="noopener noreferrer"><span>Designs ADOBE XD</span></a></h4>
                    </div>
                    <div class="slide-img"></div>
                </div>

            </div>
        </div>
        <footer class="footer">
            <div class="footer-wrapper">
                <div class="share">
                    <a href="{{site.url}}/contact"><p>Contact</p></a>
                </div>
                <div class="more">
                    <p>full project</p>
                </div>
                <div class="scroll">
                    <p>scroll</p>
                    <i class="fas fa-chevron-circle-down"></i>
                </div>
            </div>
        </footer>
    </div>
</div>